<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Create</title>
</head>

<body class="container">
    <nav class=" navbar sticky-top navbar-expand-sm navbar-dark" style="background-color: #3650a3;">
        <a class="navbar-brand" href="/">
            <img src="/logo.png" width="30" height="30" class="d-inline-block align-top">
            Globe
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/read">Read</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/update">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delete">Delete</a>
            </li>
        </ul>
    </nav>
    <h1 class="display-3 text-center">Globe User Accounts</h1>
    <div class="container">
        <br>
        <h1 class="text-center">Create A New User Account
        </h1>
        <form method="POST" action="/submit-create-account" class="needs-validation" novalidate>
            <div class="container">
                <h3>Personal Information</h3>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" id="fname" placeholder="Manolo" name="fname" required>
                        <div class="invalid-feedback">Please input your first name.</div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="mname">Middle Name:</label>
                        <input type="text" class="form-control" id="mname" placeholder="G." name="mname">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" id="lname" placeholder="Hernandez" name="lname"
                            required>
                        <div class="invalid-feedback">Please input your surname.</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="bday">Birthday:</label>
                        <input type="date" class="form-control" id="bday" name="bday" required>
                        <div class="invalid-feedback">Please provide your birthdate.</div>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="address">Delivery Address:</label>
                        <input type="text" class="form-control" id="address" placeholder="#123 Alvaro St. Quezon City"
                            name="address" required>
                        <div class="invalid-feedback">Please provide your delivery address.</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h3>Sim Information</h3>
                <div class=form-row>
                    <div class="form-group col-md-6">
                        <label for="mobileno">Mobile No.:</label>
                        <input type="text" class="form-control" id="mobileno" placeholder="091xxxxxxxxx" name="mobileno"
                            required>
                        <div class="invalid-feedback">Please input your mobile number.</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="simno">Sim Serial No.:</label>
                        <input type="text" class="form-control" id="simno" placeholder="123456789" name="simno"
                            required>
                        <div class="invalid-feedback">Please input your sim no.</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="reset" class="btn btn-danger">Reset</button>
                <a href="/create" class="btn btn-primary">Cancel</a> <br> <br> <br>
            </div>
        </form>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>


</body>

</html>