<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Update</title>
</head>

<body class="container">
    <nav class=" navbar sticky-top navbar-expand-sm navbar-dark" style="background-color: #3650a3;">
        <a class="navbar-brand" href="/">
            <img src="/logo.png" width="30" height="30" class="d-inline-block align-top">
            Globe
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/read">Read</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/update">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delete">Delete</a>
            </li>
        </ul>
    </nav>
    <h1 class="display-3 text-center">Globe Postpaid Renewal Service</h1><br>
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Update Account Details</h3><br>
            <div class="card mx-auto" style="width: 23rem;">
                <img class="card-img-top" src="/delivery.jpg" alt="Card image cap" width="120" height="230">
                <div class="card-body">
                    <h5 class="card-title">Update Your Delivery Address</h5>
                    <p class="card-text">Click the button below to update the delivery address associated with your
                        account.</p>
                    <div class="text-center">
                        <a href="/update-account-address" class="btn btn-primary text-center">Update Account</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-center">Change Your Device</h3>
            <br>
            <div class="card mx-auto" style="width: 23rem;">
                <img class="card-img-top" src="/choosingphone.jpg" alt="Card image cap" width="120" height="230">
                <div class="card-body">
                    <h5 class="card-title">Update Your Phone</h5>
                    <p class="card-text">Click the button below to change the phone that will come with your plan.</p>
                    <div class="text-center">
                        <a href="/change-device" class="btn btn-primary text-center">Change Device</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>